body {
    background-color: rgb(65, 184, 213);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* .ribbon {
    padding: 10px;
    border: 10px;
    width: 90%;
    border-color: black;
    border-style: inset;
    background-color: beige;
    position: fixed; 
} */

header {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border: 10px;
    width: 95%;
    display: flexbox;
    border-color: black;
    border-style: inset;
    background-color: rgb(252, 252, 117);
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    position: fixed; 
}

main {
    margin: 20px;
    border: 5px;
    display: flexbox;
    padding: 20% 10% 0% 10%;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

#maincontent {
    margin: 25px;
    padding: 15px;
    border: 5px;
    border-style: groove;
    background-color: rgb(252, 252, 117);
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

h2, h3, h4 {
    text-align: center;
}

h1 {
    text-align: center;
    font-style: oblique;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.coffee {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

form {
    border: 5px black;
    background-color:  rgb(252, 252, 117);
    padding: 5% 10% 5% 10%;
}
